<agm-map [latitude]="(coordsMap | async)?.lat" [longitude]="(coordsMap | async)?.lng" (swipe)="swipe($event)" (centerChange)="centerChange($event)"
  (idle)="idle()" [usePanning]="true" [zoom]="17" [zoomControl]="false" [streetViewControl]="false">
  <agm-marker [latitude]="(coordsUser | async)?.lat" [longitude]="(coordsUser | async)?.lng" iconUrl="./assets/bluedot.png"></agm-marker>
  <agm-marker *ngFor="let place of nearMapCenter | async" [latitude]="place.coords.lat" [longitude]="place.coords.lng" [openInfoWindow]="false"
    (markerClick)="clickedMarker(place.id)">
    <agm-info-window [isOpen]="isOpen(place.id)">
      <h3>{{(restaurant | async)?.name}}</h3>
      <h5>{{(restaurant | async)?.cuisine}} cuisine</h5>
      <p>{{(restaurant | async)?.address?.building}} {{(restaurant | async)?.address?.street}}, {{(restaurant | async)?.borough}}</p>
      <p *ngIf="isOpen(place.id)">{{distance((coordsUser | async), place.coords)}} miles away</p>
    </agm-info-window>
  </agm-marker>
</agm-map>
<button class="fab" (click)="toggleWatch()">
    <i class="material-icons">{{(updating | async)? 'gps_fixed' : 'gps_off'}}</i>
</button>